*{
    margin: 0px;
    padding: 0%;
}
section{
    overflow: hidden;
}
.logo{
    height: 50px;
    width: 100px;
    padding: 1rem;
    font-size: 24px;
    font-weight: 900;
    color: orange;
}
.brand{
    font-weight: 600;
    font-family: Comic Sans MS;
    text-shadow: 10px 10px 15px gray;
    text-align: center;
}
.call{
    font-size: 16px;
    font-weight: 400;
    text-align: right;
}
.header{
    color: white;
    background-color:peru;
}
.custom-nav{
    background-color:peru;
    font-size: 20px;
    font-weight: 600;
    
}
.nav-link{
    color: white;
}
.break{
    margin-left: 200px;
    margin-right: 200px;
    color:black;
    font-weight: 900;
    border: 2px solid;
}
.box{
    padding-left: 20px;
    padding-right: 20px;
}


.hero{
    text-align: center;
    height:800px;
    padding:15rem;
    font-size: 36px;
    color: white;
    background-image: url("../images/back2.jpg");
    background-position: center;
    background-size: cover;
    padding-bottom: 10%;
}
.button{
    border-radius: 50px;
    padding: 1rem;
    padding-right:30px;
    padding-left:30px;
    text-transform: uppercase;
    color: white;
    font-size: 32px;
    font-weight: 500;
    font-family: Comic Sans MS;
}
.banner-name{
    font-size: 100px;
    font-weight: 500;

}
#about{
    overflow: hidden;
}
.heading{
    font-size: 45px;
    text-shadow: 4px 4px 14px;
    font-weight: 600;
    padding:50px 30px 50px;
    border-bottom: 5px solid gray;
    text-transform: uppercase;
}
.imagedesign{
    height: 300px;
    width: 400px;
    padding: 0.5rem;
    border-bottom: 10px groove gold;
    border-radius: 30px;
}
.datadesign{
    font-size: 20px;
    padding-top:2rem;
    padding-bottom:2rem;
}
.heading2{
    font-size: 30px;
    text-shadow: 4px 4px 14px black;
    font-weight: 400;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 5px groove gold;
    margin-left: 11%;
    margin-right: 11%;
    text-transform: uppercase;
}

.heading3{
    padding: 1.5rem;
    font-size: 40px;
    font-weight: 800;
    border-bottom: 5px groove gold;
    text-transform: uppercase;
    text-align: center;
    color: peru;
    text-shadow: 4px 4px 12px gray;
}

.heading3::before{
    content: '--------------------------------------------------------------------';
    color:gold ;
    font-weight: 900;
    display: block;
}
.heading3::after{
    content: '--------------------------------------------------------------------';
    display: block;
}
.image{
    height: 300px;
    width: 300px;
    padding: 0.2rem;
    margin:0.5rem;
    border-radius: 10px;
    border: 4px groove gold;
    background-position: cover;
}
.gallery{
    text-align: center;
    align-items: center;
    background-position: center;
    background-color: lightgray;
    

}
#contact{
    text-align: left;
    }
.contact-box{
    background-color: lightgray;
    background-position: center;
    padding: 2.5rem;
}
.contact-box form{
    border:3px solid black;
    padding: 1.5rem;
    border-radius: 20px;    
}
.mylabel{
    font-size: 24px;
    color:black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;

}
.myinput{
    padding: 0.5rem;
    font-size: 20px;
    border-radius: 20px;
}

.mybtn{
    font-size: 20px;
    text-transform: uppercase;
    padding: 1rem;
    background-color: orange;
    border-radius: 15px;
    font-weight: 600;
}

.mybtn:hover{
    border:1px solid orange;
    background-color: white;
    color: orange;
}
.map{
    border: 3px solid black;
}

.chead{
    color: peru;
    text-transform: uppercase;

}
.box2{
    font-size: 20px;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
    border-right: 5px solid gold;
    border-left: 5px solid gold;
}
.box2 ul{
    list-style-type:none;
}
.menu-box{
    background-image: url('../images/background3.jpg');
    background-position:bottom;
    color: white;
}